
.tree-table-view .column-header
{
    -fx-background-color: white;
    -fx-border-color: #d3d3d3;
}

.tree-table-view .filler
{
    -fx-background-color: white;
}

.tree-table-view .column-header-background .nested-column-header .table-column .label
{
    -fx-font-size: 16 pt;
}

.tree-table-cell
{
    -fx-pref-height: 2em;
    -fx-font-size: 12pt;
}
